.vagrant/
vendor/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
phpunit.xml
.idea/
/Dockerfile
/phpunit.xml.dist
/TODO.md
/LICENSE.md
/Vagrantfile
/phpcs.xml
/CONDUCT.md
/docker-compose.yml
/CONTRIBUTING.md
/public/js/ext-6.2.0/
